/*Estilos de google*/

/*primero le damos fomato a todo el cuerpo de la página*/
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Indicamos que cuando pasemos el cursor por "a" cambie a "pinter", la mano que indica que estamos seleccionando*/
a {
    text-decoration: none;
    cursor: pointer;
}
/*Damos formato a los elementos de la cabecera*/
header{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
}
/*Posición de los elementos de la cabezera*/
header nav{
    display: flex;
    justify-content: flex-end;
}
/*Para que quede a la derecha*/
header nav .nav-right-section{
    right: 16px;
    width: 300px;
    height: auto;
    display: flex;
    list-style: none;/*Hacemos que la lista pierda su estilo y los elementos estén uno al ladod del otro*/
    justify-content: center;
    align-items: center;
    color: #c1c1c1;
}

header nav .nav-right-section li a{
    margin-right: 16px;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-size: small;
}
/*Damos estilo y color al icono de la izquierda de inciar session*/
header nav .nav-right-section .menu-icon a i{
    font-size: 16px;
    color: #5f6368;
    opacity: 1;
    font-size:larger;
}

/*Para que salgan subrayados los elementos al pasar el ratón por encima*/
.hnul:hover{
    text-decoration: underline;
}

/*Citamos el icono de Iniciar sesión para darle forma, tamaño y color*/
header nav .nav-right-section li:nth-child(4) input{
    background-color: #2b7de9;
    color: #FFF;
    height: 36px;
    width: 114px;
    border: none;
    border-radius: 4px;
}
/*Para que cambie de color el icono de iniciar sesión al pasar el cursor por encima*/
header nav .nav-right-section li:nth-child(4) input:hover{
    cursor: pointer;
    background-color: #297ff6;
}
/*Centramos el logo y demás y le damos margen con la parte superior*/
main{
    margin-top: 120px;
    text-align: center;   
}
/* Asignamos tamaño a la caja donde está el logo y le damos margen inferopr*/
main .main-logo{
    width: 560px;
    margin: 0 auto;
    margin-bottom: 32px;
    
}
/*Cambiamos el tamaño del logo para que sea igual que el de la página original de google y le ponemos auto en altura para que no se deforme*/
main .main-logo img{
    width: 272px;
    height: auto;
}
/*Asignamos mismo tamaño que la caja del logo y margen inferior a la cajita dodne busca el usuario*/
main .main-input{
    width: 560px;
    margin: 0 auto;
    margin-bottom: 32px;
}

main .main-input .main-input-contain{
    
    width: 560px;
    /*Caja para meter la lupa dentro de la barrita de buscar*/
    border: solid 1px #d0d0d7;
    border-radius: 100px;
    /*Le damos forma a la caja y lo organizamos*/
    display: flex;
    flex:start;
    align-items: center;
}
/*Cuando pongamos el ratón encima del la caja de búsqueda, saldrá una sombra por detrás*/
main .main-input .main-input-contain:hover{
    box-shadow: 0 1px 6px 0 #d0d0d7;
}
/*Tamaño y margenes de la imagen del microfono y de la cámara*/
.goxjub{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding-right: 12px;
}

/*Modificamo el icono para que se parezca los más posible al del buscador original*/
main .main-input .main-input-contain .search-icon{
    width: 20px;
    margin-left: 12px;
    color: #c1c1c1;
}
/*modificamos el input para que esté bien posicionado y que no tenga los bordes exteriores*/
main .main-input .main-input-contain input{
    width: 480px;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 12px;
    font-size: 16px;
}

main .main-buttons{
    width: 560px;
    margin: 0 auto;
}
/*Hacemos que los botones estén uno al lado del otro*/
main .main-buttons div {
    display: inline-block;
}   
/*Le damos forma a los botones para que tengan la misma forma y márgenes que los originales*/
main .main-buttons div button {
    height: 36px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 4px;
    padding: 0px 16px;
    margin: 0px 4px;
}
/*Le damos efecto a los botones para cuando pongamos el putero encima*/
main .main-buttons div button:hover{
    border: solid 1px #c1c1c1;
    box-shadow: 0 1px 0 1px rgba(0, ,0 0, 0.1);
    color: #3c4043;
    background-color: #f8f8f8;
}
.next-to-link{
    color:#4d5156;
    font-size: small;
}

main .main-region{
    margin-top: 28px;
}
/*El box div que contiene el link a "España" del footer superior*/
.footer-one{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 40px;
    align-items: center;
    background-color: #f6f6f6;
    border-top: 1px solid #c1c1c1;
}
.footer-one ul{
    display: flex;
    list-style: none;
    margin: 12px;
    padding-left: 0px;
}
.footer-one ul li a {
    margin: 12px;
    color: #70757a;
}
/*El footer inferior donde están todos los links; El grid-template-columns sirve para dividir en 3 esa parte y poder así darles formato por separado a las 3 columnas*/
footer{
    width: 100%;
    height: 40px;
    position: absolute; /*Con position absolute y bottom 0 fijamos en bottom a la parte inferior del navegador*/
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*separamos en 3 columnas para poder dividir el footer en 3 sin usar divs*/
    align-items: center;
    background-color: #f6f6f6;
    border-top: 1px solid #c1c1c1;
}

footer ul{
    display: flex;
    list-style: none;
    margin: 12px;
    padding-left: 0px;
}
.footer-left{
    justify-content: left;
    margin-left: 36px;
}
.footer.center{
    justify-content: center;
    align-items: center;
}
.leaf{
    height: 14px;
    width: auto;
}
.footer-right{
    justify-content: right;
    margin-left: 36px;
}
footer ul li a {
    margin: 12px;
    color: #70757a;
}

